<% extend('layout') %>
    <% if (!currentUser.admin) { %>
        <h3>Only Admins can delete messages!</h3>
        <% } else {%>
            <dl>
                <dt>
                    <%= message.title %>
                </dt>
                <dd>
                    <%= message.text %>
                </dd>
                <dd>
                    <%= message.user.fullname %>
                </dd>
                <dd>
                    <%= message.postTime %>
                </dd>
            </dl>
            <form action="" method="Post">
                <input type="text" hidden="true" value="<%= message._id %>">
                <button type="submit">Delete</button>
            </form>
            <% } %>